**/*.o
**/*.~
**/*.log
results/*.CSV
nauty/addedgeg
nauty/countg  
nauty/dretog       
nauty/gentourng    
nauty/labelg        
nauty/*.a   
nauty/pickg        
nauty/showg
nauty/amtog      
nauty/cubhamg    
nauty/genbg        
nauty/gentreeg     
nauty/linegraphg    
nauty/planarg      
nauty/subdivideg
nauty/biplabg    
nauty/deledgeg   
nauty/genbgL       
nauty/listg         
nauty/catg       
nauty/delptg     
nauty/geng         
nauty/multig        
nauty/complg     
nauty/directg    
nauty/genquarticg  
nauty/twohamg
nauty/converseg  
nauty/dreadnaut  
nauty/genrang      
nauty/newedgeg   
nauty/vcolg
nauty/copyg      
nauty/dretodot   
nauty/genspecialg  
nauty/hamheuristic  
nauty/NRswitchg  
nauty/shortg       
nauty/watercluster2
protocol/src/protocol

