nauty/*.o
nauty/*.a
nauty/config.log
nauty/config.status
protocol/src/obj
protocol/src/protocol
results
nauty/NRswitchg
nauty/addedgeg
nauty/amtog
nauty/biplabg
nauty/catg
nauty/complg
nauty/converseg
nauty/copyg
nauty/countg
nauty/cubhamg
nauty/deledgeg
nauty/delptg
nauty/directg
nauty/dreadnaut
nauty/dretodot
nauty/dretog
nauty/genbg
nauty/genbgL
nauty/geng
nauty/genquarticg
nauty/genrang
nauty/genspecialg
nauty/gentourng
nauty/gentreeg
nauty/hamheuristic
nauty/labelg
nauty/linegraphg
nauty/listg
nauty/multig
nauty/newedgeg
nauty/pickg
nauty/planarg
nauty/ranlabg
nauty/shortg
nauty/subdivideg
nauty/twohamg
nauty/vcolg
nauty/watercluster2
